# dépendances
node_modules/

# build
dist/
dist-ssr/

# Vite / cache
.vite/
*.local

# environnement
.env
.env.*
!.env.example

# Vercel
.vercel/

# éditeurs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
*.log

# TypeScript
*.tsbuildinfo
